<nav id="navbar">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="navbarTitle"><a href="/">Hack de blog</a></h4>
    <% if (user) { %>
    <div>
      <% if (user.role > 3) { %>
      <h5 id="userlogin" class="d-inline me-3">
        Admin: <a href="/users/profile/<%- user.id %> "><%- user.firstname%></a>
      </h5>
      <a href="/admin" id="button" class="btn btn-primary">Admin</a>
      <a href="/admin/users" id="button" class="btn btn-success">Users</a>
      <% } %> <% if (user.role === 1) { %>
      <h5 id="userlogin" class="d-inline me-3">
        Lector: <a href="/users/profile/<%- user.id %> "><%- user.firstname %></a>
      </h5>
      <% } else if (user.role ===2) { %>
      <h5 id="userlogin" class="d-inline me-3">
        Escritor:
        <a href="/users/profile/<%- user.id %> "><%- user.firstname %></a>
      </h5>
      <% } else if (user.role ===3){ %>
      <h5 id="userlogin" class="d-inline me-3">
        Editor: <a href="/users/profile/<%- user.id %> "><%- user.firstname%></a>
      </h5>
      <% } %>
      <a href="/logout" id="button" class="btn btn-danger">LogOut</a>
    </div>
    <% } else {%>
    <div>
      <a href="/login" id="button" class="btn btn-primary">Login</a>
      <a href="/register" id="button" class="btn btn-warning">Register</a>
    </div>
    <% } %>
  </div>
</nav>
