<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Admin</title>
  </head>
  <body>
    <div class="d-flex justify-content-center adminHeader">
      <h4>Hack the Blog</h4>
    </div>

    <div class="m-3" id="adminCrearLink">
      <p class="m-4">Crear un articulo: <a href="/admin/crear" class="btn btn-success">Aqui</a></p>
    </div>

    <table class="container d-flex justify-content-center mt-4" id="adminTable">
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Acciones</th>
      </tr>
      <% for (let article of articles.reverse()) { %>
      <tr id="articulo<%= article.id %>">
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td>
          <span
            ><a href="/admin/modificar/<%= article.id%> " class="btn btn-primary">Modificar</a>
            <a href="/admin/eliminar/<%= article.id%> " class="btn btn-danger">Eliminar</a></span
          >
        </td>
      </tr>
      <% } %>
    </table>
    <style>
      #adminTable tr th {
        border: 1px solid black;
        background-color: #eaeaea;
        padding: 4px;
      }
      #adminTable tr td {
        border: 1px solid black;
        background-color: #eaeaea;
        padding: 4px;
      }
    </style>
  </body>
</html>
