<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <%- include("partials/stylesheets") %>
    <title>Articulo</title>
  </head>
  <body>
    <%- include("partials/navbar") %> <%- include("partials/header") %>
    <div class=" d-flex justify-content-between ">
      <a href="/articulo/<%- article.id%15 - 1 %>" type="button">Anterior</a>
      <a href="/articulo/<%- article.id%15+1 %>" type="button">Siguiente</a>
    </div>
    
    <div class="container p-4" id="contenedorArticulo">
      <h4 class="d-flex justify-content-center"><%= article.title %></h4>
      <p class="d-flex justify-content-center"><%= article.content %></p>
      <span class="d-flex justify-content-between">
        <small class="autor" >Autor: <%= article.user.firstname %> <%= article.user.lastname %></small>
        <small>
          <%=article.createdAt.toLocaleDateString('es-ES',{year: 'numeric', month: 'long',
          day:'numeric'})%>
        </small>
      </span>
      <div class="container">
        <form action="/articulo/<%= article.id %>" method="post">
          
            <div class="mb-3">
              <h4>Comentar</h4>

              <label for="exampleFormControlInput1" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="ingresarNombre"
                name="ingresarNombre"
                placeholder="Ingresar nombre..."
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="ingresarApellido"
                name="ingresarApellido"
                placeholder="Ingresar apellido..."
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">E-mail</label>
              <input
                type="email"
                class="form-control"
                id="ingresarEmail"
                name="ingresarEmail"
                placeholder="Ingresar e-mail..."
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                name="ingresarComentario"
                class="form-control"
                id="ingresarComentario"
                rows="5"
                placeholder="Ingresar comentario..."
              ></textarea>
            </div>
            <button type="submit" class="btn mb-3 btn-success">Comentar</button>
          </div>
        </form>
        <h4>Comentarios (<%= comments.length %>)</h4>
        <% for (let comment of comments) {%>
        <div class="d-flex border-top flex-column mt-4">
          <small class="autor" class="pb-3" >
            Autor: <%= comment.user.firstname %> <%= comment.user.lastname %>
          </small>
          <p><%= comment.content %></p>
          <a href="/eliminar/<%= comment.id %>">Eliminar comentario</a>
        </div>
        <% } %>
        <div class="d-flex mt-4 justify-content-between">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
      
    </div>

    <% include("partials/footer") %>
  </body>
</html>
