  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/stylesheets") %>


    <style> 

  #seccionMedia{

  background: #F5F5F5;
  }

    .divArticuloHome{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }



    .tituloArticulo {
      width: 493px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 41px;

    color: #000000;
    }
    .fechaArticulo {
      
      width: 493px;
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #76757D;

    }

    .divisor {
    width: 875px;
    height: 0px;
    border: 1px solid #DEE2E6;
    }
    </style>
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/header") %>
    <section id="seccionMedia">
      <div class="container">
        
          <div class="divArticuloHome">
            <h4 class="tituloArticulo">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, sapiente!
              Maxime, fugiat eligendi. Animi velit, porro maiores eligendi labore cupiditate.
            </h4>
            <small class="fechaArticulo">Creado por pepito el 24 de septiembre de 2022</small>
            <hr class="divisor"/>
          </div>

          <div class="divArticuloHome">
            <h4 class="tituloArticulo">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, sapiente!
              Maxime, fugiat eligendi. Animi velit, porro maiores eligendi labore cupiditate.
            </h4>
            <small class="fechaArticulo">Creado por pepito el 24 de septiembre de 2022</small>
            <hr  class="divisor"/>
          </div>

          <div class="divArticuloHome">
            <h4 class="tituloArticulo">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, sapiente!
              Maxime, fugiat eligendi. Animi velit, porro maiores eligendi labore cupiditate.
            </h4>
            <small class="fechaArticulo">Creado por pepito el 24 de septiembre de 2022</small>
            <hr  class="divisor"/>
          </div>
          
          <div class="divArticuloHome">
            <h4 class="tituloArticulo">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, sapiente!
              Maxime, fugiat eligendi. Animi velit, porro maiores eligendi labore cupiditate.
            </h4>
            <small class="fechaArticulo">Creado por pepito el 24 de septiembre de 2022</small>
           
          </div>

        
      </div>
    </section>

    <%- include("partials/footer") %> 
    <%- include("partials/scripts") %>
  </body>
</html>
