<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Modificar</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="d-flex justify-content-center container mt-4 p-4">
      <h5>Modificar el articulo : "<%- article.title %> "</h5>
    </div>
    <div class="container">
      <form method="post" action="/admin/articles/<%= article.id %>/edit">
        <div class="container mt-4 crearArticulo">
          <div class="container p-4">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Titulo</label>
              <input
                type="text"
                class="form-control"
                id="modificarTitulo"
                name="modificarTitulo"
                value="<%- article.title %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Contenido</label>
              <textarea
                class="form-control"
                id="modificarContenido"
                rows="3"
                name="modificarContenido"
              >
<%- article.content %></textarea
              >
              <br />
              <label for="">
                Creado por <%- article.user.firstname %> <%- article.user.lastname %>
              </label>
            </div>
            <button type="submit" class="btn btn-success">Modificar</button>
          </div>
        </div>
      </form>
      <a class="back" href="/admin"> <i class="fa-solid fa-left-long"></i> Volver </a>
    </div>
  </body>
</html>
